/* You can add global styles to this file, and also import other style files */
.redColor {
    color: red;
}

.customBlue{
    color: blue
}

.active {
    font-weight bold
}

.link-nest
    background-color black
    padding 10px
    display inline-flex
    width: 100%
    .link
        color green
        text-decoration none
        margin-right 35px
        border none
        &:hover
            color white
            transition: color .5s
            text-decoration none
            cursor pointer
        &:focus
            outline none